<!DOCTYPE html>
<html>
<head>
  <title>Launch1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track"=> true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav">
   <li><a href="/static_pages/home">Home</a></li>
   <li><a href="/static_pages/about">About</a></li>
</ul>

<%= yield %>

</body>
</html>
